AZURE_AI_PROJECT_ENDPOINT=https://niteen-test-useast-01.services.ai.azure.com/api/projects/xxxxxxx
AZURE_AI_AGENT_NAME=policydesk-demo
AZURE_AI_AGENT_VERSION=8
AZURE_AI_AGENT_ISOLATION_KEY=my-isolation-key
